*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.8)50%), url(portfolioo.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:  aquamarine;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1px;
    float: left;
    padding-top: 18px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 60px ;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgba(208, 202, 36, 0.926);
}
.search{
    width: 300px;
    float: left;
    margin-left: 300px;
    margin-right: auto;
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: rgba(127, 255, 212, 0.245);
    border: 1px solid aquamarine;
    margin-top: 17px;
    margin-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 100px;
    height: 40px;
    background: aquamarine;
    border: 2px solid aquamarine;
    margin-top: 17px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1300px;
    height: auto;
    margin: auto;
    color: rgb(8, 213, 245);
    position: relative;
}
.content .par{
    padding-left: 30px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}

.content .cn{
    width: 160px;
    height: 40px;
    background: rgba(8, 225, 233, 0.701);
    border: none;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color:aquamarine;
}

.form{
    width: 237px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top:-20px;
    left: 950px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: aquamarine;
    font-size: 22px;
    background-color: rgba(64, 219, 201, 0.064);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid aquamarine;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgba(204, 217, 228, 0.932);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: rgba(30, 198, 236, 0.71);
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background:  rgba(8, 225, 233, 0.701);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(44, 182, 200, 0.597);
    transition: 0.5s ease;
}

.btnn:hover{
    background: rgb(102, 237, 192);
    color: rgba(127, 246, 255, 0.684);
}
.btnn a{
    text-decoration: none;
    color:black;
    font-weight: bold;

}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color:aquamarine;

}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center; 
}
.icons a{
    text-decoration: none;
    color:aquamarine;


}

.icons ion-icon{
    color: aquamarine;
    font-size: 24px;
    padding-left: 12px;
    padding-top: 6px;
    padding-right:auto;
    left: 1000px;
    right: 300px;
    transition: 0.5s;
}

.icons ion-icon:hover{
    color: rgba(170, 227, 26, 0.844);
    


}

























